/* - - - - commons - - - - */

.block__tint-overlay {
    background-color: #242237;
    opacity: .2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.z-index-1 {
    z-index: 1;
}

.z-index-100 {
    z-index: 100;
}

.z-index-500 {
    z-index: 500;
}

.z-index-900 {
    z-index: 900;
}

.pattern-bg {
    background-color: $dark;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='66' height='64' viewBox='0 0 66 64'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_381' data-name='Rectangle 381' width='66' height='64' transform='translate(80 3390)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Mask_Group_2' data-name='Mask Group 2' transform='translate(-80 -3390)' opacity='0.03' clip-path='url(%23clip-path)'%3E%3Cg id='Group_137' data-name='Group 137' transform='translate(2 -2.586)'%3E%3Cpath id='Path_13' data-name='Path 13' d='M285.731,369.72a3.176,3.176,0,0,0-4.492,0l-26.828,26.828.568.567a5.548,5.548,0,0,0,7.849,0l22.9-22.9A3.176,3.176,0,0,0,285.731,369.72Z' transform='translate(-158.492 3055.063)' fill='%23fff'/%3E%3Cpath id='Path_14' data-name='Path 14' d='M295.585,384.592a15.042,15.042,0,0,0-21.271-21.273l0,0L239.57,398.056l.568.567a5.549,5.549,0,0,0,7.849,0l30.761-30.76h0a8.694,8.694,0,1,1,12.277,12.312L273.349,397.85l.567.568a5.551,5.551,0,0,0,7.849,0l13.764-13.765h0l.058-.058Z' transform='translate(-160.57 3053.688)' fill='%23fff'/%3E%3Cpath id='Path_15' data-name='Path 15' d='M297.943,346.419s-.12-.079-.182-.119c-.314-.2-.628-.394-.952-.576-.287-.162-.581-.309-.877-.457s-.561-.276-.848-.4c-.433-.193-.872-.37-1.32-.532-.057-.021-.174-.064-.178-.062a20.046,20.046,0,0,0-6.685-1.154l-.209,0a19.445,19.445,0,0,0-8.9,2.159l-.024.013c-.262.135-.52.278-.776.425-.188.1-.375.211-.56.321-.026.017-.056.032-.083.049-.109.067-.222.13-.329.2-.074.048-.144.1-.217.15A20.393,20.393,0,0,0,271.692,350L250.733,370.96l2.236,2.236a3.191,3.191,0,0,0,4.512,0l21.325-21.325a12.184,12.184,0,0,1,3.454-2.039,14.22,14.22,0,0,1,3.149-.692,13.716,13.716,0,0,1,2.127-.013,20.237,20.237,0,0,0-4.08,7.583,20.073,20.073,0,0,1,5.817,1.214,14.384,14.384,0,0,1,11.007-9.765A20.337,20.337,0,0,0,297.943,346.419Z' transform='translate(-159.007 3051.468)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-position-y: -1zz0px;
    background-position-x: -30px;
}


.icon--frontpage-services {
    width: 60px;
}

/* - - - - owl fixes -- - - */

.owl-stage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
}



/* - - - - blocks - - - - */



.stacker {
    position: relative;
    padding-left: $spacer;
    padding-bottom: $spacer;
    margin-bottom: 8px;

    &:after {
        position: absolute;
        left: $spacer;
        bottom: 0;
        content: '';
        background-color: white;
        width: 13px;
        height: $spacer*9;
        z-index: 100;
    }

}

.stacker--blog {
    padding-top: $spacer*8;
    padding-left: $spacer*3;

    .stacker-title {
        margin-bottom: $spacer;
        font-size: 1.75rem;

        @include media-breakpoint-up(md) {
            height: $spacer*4;
        }

    }

    .stacker-content {
        max-width: 410px;
    }

}

.stacker--team {
    padding-top: $spacer*13;
    padding-left: $spacer*2;

    .stacker-details--min-h {

        @include media-breakpoint-only(sm) {
            height: $spacer*5;
        }

        @include media-breakpoint-up(xxxl) {
            max-width: 80%;
            height: $spacer*5.5;
        }

    }

    .stacker-title {
        margin-bottom: 0;

    }
}

.stacker--project {
    padding-top: $spacer*9;
    padding-left: $spacer*2;
    padding-bottom: $spacer*.5;

    .stacker-title {
        @extend .lead;
        font-size: 1rem;
        max-width: 340px;
        min-height: $spacer*2;
        margin-bottom: 0;
    }

    &:after {
        width: 9px;
        height: $spacer*2.8;
    }
}

/* - - - - - pages - - - - - */

.pager-header {}

.leader {}

.blocking {}

/* - - - - front-page - - - - */

/* FrontPage Hero Slider */

.block__tint-overlay {
    background-color: black;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.block__tint-overlay--hover {
    &:hover {
        opacity: .25;
        background-color: $primary;
    }
}


.hero-outer--fullheight {

    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 900px;
    }
}

.hero-slide--fullheight {
    min-height: 510px;
    height: 60vh;

    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 900px;
    }
}

.hero-slide__container {
    position: relative;
    z-index: 99;
}


// hero owl-carousel
#hero-slide {

    .owl-nav {
        position: absolute;
        bottom: $spacer;
        left: 0;
        right: 0;
        @extend .container;
        padding: 0;
    }

    @include media-breakpoint-between(lg, xxl) {
        .owl-prev {
            left: .5rem;
        }
        .owl-next {
            right: .5rem;
        }
    }

    .owl-dots {
        width: 100%;
        text-align: center;

        position: absolute;
        bottom: $spacer;

        .owl-dot {
            width: $spacer;
            height: $spacer;

            &.active {
                span {
                    background-color: $primary;
                }
            }
            span {
                background-color: white;
                border: none;
                margin: auto;
                border-radius: 50%;
                display: block;
                width: $spacer/2;
                height: $spacer/2;
            }
        }
    }

    .hero--arrows {
        width: 26px;
        height: 16px;
        display: block;
    }

    .owl-next {
        margin-left: $spacer/2;
    }

    .left-arrow--svg {
        background-image: url("data:image/svg+xml,%3Csvg id='box-arrow-left' xmlns='http://www.w3.org/2000/svg' width='26.133' height='16.633' viewBox='0 0 26.133 16.633'%3E%3Cpath id='Path_6' data-name='Path 6' d='M25.125,160.261a1.188,1.188,0,0,0,0-1.682l-6.289-6.286,6.289-6.285a1.189,1.189,0,1,0-1.682-1.682l-7.127,7.127a1.188,1.188,0,0,0,0,1.682l7.127,7.127a1.188,1.188,0,0,0,1.682,0Z' transform='translate(-15.967 -143.977)' fill='%23fff' fill-rule='evenodd'/%3E%3Cpath id='Path_7' data-name='Path 7' d='M71.755,241.188A1.188,1.188,0,0,0,70.568,240H49.188a1.188,1.188,0,1,0,0,2.376h21.38A1.188,1.188,0,0,0,71.755,241.188Z' transform='translate(-45.622 -232.872)' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
    }

    .right-arrow--svg {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.133' height='16.633' viewBox='0 0 26.133 16.633'%3E%3Cg id='box-arrow-left' transform='translate(26.133 16.633) rotate(180)'%3E%3Cpath id='Path_6' data-name='Path 6' d='M9.158,16.284a1.188,1.188,0,0,0,0-1.682L2.869,8.316,9.158,2.031A1.189,1.189,0,0,0,7.476.348L.349,7.475a1.188,1.188,0,0,0,0,1.682l7.127,7.127a1.188,1.188,0,0,0,1.682,0Z' transform='translate(0)' fill='%23fff' fill-rule='evenodd'/%3E%3Cpath id='Path_7' data-name='Path 7' d='M23.755,1.188A1.188,1.188,0,0,0,22.568,0H1.188a1.188,1.188,0,1,0,0,2.376h21.38A1.188,1.188,0,0,0,23.755,1.188Z' transform='translate(2.378 7.128)' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");

    }

}

// ping
.ping-bg {
    max-width: 2400px;
    margin-left: auto;
    margin-right: auto;
    min-height: 980px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: 1420px 980px;

    @include media-breakpoint-down(md) {
        background-image: none !important;
        min-height: auto;
    }
}

.ping--left {
    background-position-x: right;
}

.ping--right {
    background-position-x: left;
}

.ping-content {
    background-color: #F5F6F7;
    padding: $spacer $spacer*1.5;
    position: relative;

    @include media-breakpoint-up(lg) {
        margin-bottom: $spacer*2;
        margin-top: $spacer*2;
        padding: $spacer $spacer*3;
    }

    &:after {
        content: '';
        width: 13px;
        height: 203px;
        position: absolute;
        background-color: $secondary;
        left: 0;
        top: 0;
    }
}

.ping-footer {
    background-color: $secondary;
    padding: $spacer $spacer*1.5;
    position: relative;

    @include media-breakpoint-up(lg) {
        margin-bottom: $spacer*2;
        margin-top: -$spacer*2;
        padding: $spacer $spacer*3;
    }
}

.ping-icon--size {
    width: 80px;
}

// hero project-carousel

.project-item {
    min-height: 574px;
}

.project-item-wrapper {
    display: block;
    width: 70%;
    max-width: 844px;
    margin-left: auto;
    margin-right: auto;
}

#projects-slide {
    .owl-nav {
        padding-top: $spacer;
        .owl-prev, .owl-next {
            width: 60px;
            height: 46px;
            background-repeat: no-repeat;
            margin: 0 40px;
            background-position: center;
            span {
                display: none;
            }
        }
        .owl-prev {
            background-image: url("data:image/svg+xml,%3Csvg id='box-arrow-left' xmlns='http://www.w3.org/2000/svg' width='37.997' height='24.184' viewBox='0 0 37.997 24.184'%3E%3Cpath id='Path_6' data-name='Path 6' d='M29.283,167.653a1.727,1.727,0,0,0,0-2.446l-9.143-9.139,9.143-9.139a1.729,1.729,0,0,0-2.446-2.446L16.475,154.845a1.727,1.727,0,0,0,0,2.446l10.362,10.362a1.727,1.727,0,0,0,2.446,0Z' transform='translate(-15.967 -143.977)' fill='%239bc44f' fill-rule='evenodd'/%3E%3Cpath id='Path_7' data-name='Path 7' d='M82.54,241.727A1.727,1.727,0,0,0,80.813,240H49.727a1.727,1.727,0,1,0,0,3.454H80.813A1.727,1.727,0,0,0,82.54,241.727Z' transform='translate(-44.543 -229.636)' fill='%239bc44f' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
        }
        .owl-next {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37.997' height='24.184' viewBox='0 0 37.997 24.184'%3E%3Cg id='box-arrow-left' transform='translate(37.997 24.184) rotate(180)'%3E%3Cpath id='Path_6' data-name='Path 6' d='M13.315,23.676a1.727,1.727,0,0,0,0-2.446L4.172,12.091l9.143-9.139A1.729,1.729,0,1,0,10.87.507L.508,10.868a1.727,1.727,0,0,0,0,2.446L10.87,23.676a1.727,1.727,0,0,0,2.446,0Z' transform='translate(0 0)' fill='%239bc44f' fill-rule='evenodd'/%3E%3Cpath id='Path_7' data-name='Path 7' d='M34.54,1.727A1.727,1.727,0,0,0,32.813,0H1.727a1.727,1.727,0,1,0,0,3.454H32.813A1.727,1.727,0,0,0,34.54,1.727Z' transform='translate(3.457 10.364)' fill='%239bc44f' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
    }
}

.single-projects {

    .page-title-section {
        display: none;
    }

}

.breakdown-blocks {
        background-color: #F5F6F7;
}

.collapse-trigger {
    cursor: pointer;
    border-bottom: 1px solid $secondary ;
    a.h4 {
        color: $primary !important;
    }
}

.li-collape-parent {
    .collapse-trigger {
        background: $primary;
        border-bottom-color: $primary;
        & > a.h4 {
            color: white !important;
        }
    }
}

.tr-valignment {
    td {
        vertical-align: top;
        padding-bottom: $spacer*.25;
    }
    td+td {
        padding-left: $spacer*.5;
    }
}

p:empty { display:none; }

.google-map {
    border: 1px solid #f5f6f7;
}

.google-map iframe {
    width: 100%;
    margin-bottom: -7px;
}

iframe {
    width: 100%;
}

// aos
.hero-slide--header {
    background: red;
    overflow: hidden;
    height: 100px;
}

// project category fallback
.logo-image--fallback {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='390' height='150' viewBox='0 0 390 150'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_378' data-name='Rectangle 378' width='390' height='150' transform='translate(501 54)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Mask_Group_1' data-name='Mask Group 1' transform='translate(-501 -54)' clip-path='url(%23clip-path)'%3E%3Cg id='Group_140' data-name='Group 140' transform='translate(453.42 -403.002)'%3E%3Cpath id='Path_124' data-name='Path 124' d='M130.97,496.268h21.888v5.738H138.081V511.1h11.325v5.637H138.081v14.983H130.97Z' transform='translate(47.676 5.205)' fill='%23fff'/%3E%3Cpath id='Path_125' data-name='Path 125' d='M172.286,524.984H158.168l-2.336,6.755h-7.466l12.747-35.5h8.279l12.746,35.5h-7.515Zm-7.059-20.517L160.1,519.3h10.259Z' transform='translate(62.128 5.182)' fill='%23fff'/%3E%3Cpath id='Path_126' data-name='Path 126' d='M180.418,496.268V526.08H192.1v5.637H173.309V496.268Z' transform='translate(82.849 5.205)' fill='%23fff'/%3E%3Cpath id='Path_127' data-name='Path 127' d='M206.964,496.019c7.87,0,14.271,4.212,16.658,11.477h-8.178a8.935,8.935,0,0,0-8.531-5.078c-6.2,0-10.615,4.518-10.615,11.731,0,7.16,4.419,11.731,10.615,11.731a8.9,8.9,0,0,0,8.531-5.13h8.178c-2.387,7.312-8.788,11.477-16.658,11.477-10.208,0-17.98-7.464-17.98-18.079S196.756,496.019,206.964,496.019Z' transform='translate(95.871 4.999)' fill='%23fff'/%3E%3Cpath id='Path_128' data-name='Path 128' d='M232.358,532.3a18.156,18.156,0,1,1,18.13-18.181A17.815,17.815,0,0,1,232.358,532.3Zm0-6.349c6.4,0,10.818-4.621,10.818-11.832s-4.418-11.731-10.818-11.731c-6.45,0-10.869,4.52-10.869,11.731S225.908,525.954,232.358,525.954Z' transform='translate(116.8 4.974)' fill='%23fff'/%3E%3Cpath id='Path_129' data-name='Path 129' d='M271.1,496.24v35.5h-7.111l-16.1-24.327V531.74h-7.111v-35.5h7.111l16.1,24.378V496.24Z' transform='translate(138.903 5.182)' fill='%23fff'/%3E%3Cpath id='Path_130' data-name='Path 130' d='M132.973,522.8v8.156h8.282v1.812h-8.282v8.28h9.22v1.814H130.787V520.986h11.405V522.8Z' transform='translate(47.524 25.74)' fill='%237eaf00'/%3E%3Cpath id='Path_131' data-name='Path 131' d='M158.231,542.847h-2.188L143.95,524.47v18.377h-2.188V521h2.188l12.094,18.342V521h2.188Z' transform='translate(56.642 25.754)' fill='%237eaf00'/%3E%3Cpath id='Path_132' data-name='Path 132' d='M173.5,527.491a7.487,7.487,0,0,0-2.861-3.391,8.171,8.171,0,0,0-4.515-1.234,8.565,8.565,0,0,0-4.375,1.124,8.02,8.02,0,0,0-3.061,3.2,10.949,10.949,0,0,0,0,9.672,8,8,0,0,0,3.061,3.218,9.066,9.066,0,0,0,8.486.141,7.611,7.611,0,0,0,2.937-2.814,9.224,9.224,0,0,0,1.267-4.264h-9.188v-1.781h11.5v1.595a11.054,11.054,0,0,1-1.563,5.2,10.262,10.262,0,0,1-3.766,3.672,10.5,10.5,0,0,1-5.3,1.344,10.815,10.815,0,0,1-5.5-1.422,10.225,10.225,0,0,1-3.89-3.969,12.394,12.394,0,0,1,0-11.53,10.251,10.251,0,0,1,3.89-3.969,11.475,11.475,0,0,1,11.625.328,9.948,9.948,0,0,1,3.812,4.875Z' transform='translate(67.901 25.64)' fill='%237eaf00'/%3E%3Cpath id='Path_133' data-name='Path 133' d='M173.786,521v21.844H171.6V521Z' transform='translate(81.429 25.754)' fill='%237eaf00'/%3E%3Cpath id='Path_134' data-name='Path 134' d='M194.367,542.847H192.18L180.086,524.47v18.377H177.9V521h2.188l12.094,18.342V521h2.188Z' transform='translate(86.661 25.754)' fill='%237eaf00'/%3E%3Cpath id='Path_135' data-name='Path 135' d='M194.185,522.8v8.156h8.28v1.812h-8.28v8.28h9.22v1.814H192V520.986H203.4V522.8Z' transform='translate(98.374 25.74)' fill='%237eaf00'/%3E%3Cpath id='Path_136' data-name='Path 136' d='M205.159,522.8v8.156h8.282v1.812h-8.282v8.28h9.22v1.814H202.973V520.986h11.406V522.8Z' transform='translate(107.492 25.74)' fill='%237eaf00'/%3E%3Cpath id='Path_137' data-name='Path 137' d='M225.573,542.847l-5.406-9.126h-4.031v9.126h-2.188V521h6.563a7.882,7.882,0,0,1,5.545,1.75,5.966,5.966,0,0,1,1.891,4.594,6.212,6.212,0,0,1-1.358,4.048,6.517,6.517,0,0,1-4.017,2.171l5.626,9.282Zm-9.437-10.906h4.407a5.36,5.36,0,0,0,3.859-1.25,4.433,4.433,0,0,0,1.3-3.345,4.342,4.342,0,0,0-1.249-3.328,5.624,5.624,0,0,0-3.938-1.172h-4.375Z' transform='translate(116.61 25.754)' fill='%237eaf00'/%3E%3Cpath id='Path_138' data-name='Path 138' d='M228.546,521v21.844h-2.188V521Z' transform='translate(126.919 25.754)' fill='%237eaf00'/%3E%3Cpath id='Path_139' data-name='Path 139' d='M249.125,542.847h-2.188L234.844,524.47v18.377h-2.188V521h2.188l12.094,18.342V521h2.188Z' transform='translate(132.151 25.754)' fill='%237eaf00'/%3E%3Cpath id='Path_140' data-name='Path 140' d='M264.4,527.491a7.5,7.5,0,0,0-2.86-3.391,8.182,8.182,0,0,0-4.516-1.234,8.57,8.57,0,0,0-4.375,1.124,8.033,8.033,0,0,0-3.061,3.2,10.948,10.948,0,0,0,0,9.672,8.015,8.015,0,0,0,3.061,3.218,9.066,9.066,0,0,0,8.486.141,7.611,7.611,0,0,0,2.936-2.814,9.225,9.225,0,0,0,1.267-4.264h-9.189v-1.781h11.5v1.595a11.054,11.054,0,0,1-1.563,5.2,10.262,10.262,0,0,1-3.766,3.672,10.5,10.5,0,0,1-5.3,1.344,10.815,10.815,0,0,1-5.5-1.422,10.226,10.226,0,0,1-3.89-3.969,12.393,12.393,0,0,1,0-11.53,10.251,10.251,0,0,1,3.89-3.969,11.475,11.475,0,0,1,11.625.328,9.937,9.937,0,0,1,3.812,4.875Z' transform='translate(143.41 25.64)' fill='%237eaf00'/%3E%3Cpath id='Path_141' data-name='Path 141' d='M130.413,513.7a4.452,4.452,0,0,0-6.294,0L86.53,551.293l.795.8a7.776,7.776,0,0,0,11,0L130.413,520A4.452,4.452,0,0,0,130.413,513.7Z' transform='translate(10.758 18.608)' fill='%237eaf00'/%3E%3Cpath id='Path_142' data-name='Path 142' d='M152.068,539.734a21.077,21.077,0,0,0-29.806-29.808l-.005,0L73.58,558.6l.795.794a7.775,7.775,0,0,0,11,0l43.1-43.1h0a12.182,12.182,0,1,1,17.2,17.251L120.91,558.311l.795.8a7.779,7.779,0,0,0,11,0l19.287-19.287h0l0,0,.081-.081Z' transform='translate(0 11.49)' fill='%23fff'/%3E%3Cpath id='Path_143' data-name='Path 143' d='M149.469,494.628s-.168-.11-.256-.167c-.439-.278-.879-.553-1.333-.807-.4-.225-.817-.432-1.228-.639-.394-.2-.787-.388-1.19-.566q-.909-.4-1.847-.745c-.081-.029-.245-.09-.251-.086A28.067,28.067,0,0,0,134,490l-.289,0a27.238,27.238,0,0,0-12.467,3.026l-.035.016c-.368.19-.729.392-1.087.6-.264.147-.525.295-.784.452-.038.022-.079.042-.117.066-.154.1-.311.183-.463.282-.1.066-.2.141-.3.211a28.652,28.652,0,0,0-5.763,4.992L83.319,529.013l3.132,3.132a4.471,4.471,0,0,0,6.323,0l29.88-29.88a17.1,17.1,0,0,1,4.84-2.858,19.93,19.93,0,0,1,4.412-.97,19.125,19.125,0,0,1,2.98-.016,28.359,28.359,0,0,0-5.717,10.624,28.172,28.172,0,0,1,8.152,1.7,20.154,20.154,0,0,1,15.422-13.683A28.294,28.294,0,0,0,149.469,494.628Z' transform='translate(8.091 0)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

// hide page title on categories
.category {
    .page-title-section {
        display: none;
    }
}
input#s {
    font-size: 80%;
    border-color: $secondary;
    @include media-breakpoint-up(lg) {
        border-color: $primary;
    }
}
.search-field {
    border-radius: 0px;
    height: 42px;
}
.search-result {
    margin-bottom: $spacer*1.5;
    transition: all 2s;
    p {
        font-size: 70%;
        margin-bottom: 0;
    }
    &:hover {
        * {
            color: $primary !important;
        }
    }
}

a.tag-link {
    font-size: 80%;
    color: white;
    display: inline-block;
    text-transform: capitalize;
    background-color: $primary;
    padding: $spacer/4 $spacer/2;
    margin-bottom: $spacer/4;

    &:hover {
        background-color: darken($primary, 7%);
    }
}