
.home {
    @include media-breakpoint-up(lg) {
        .hero-nav-overlay {
            height: 100%;
            position: relative;
        }

        nav.navbar {
            position: absolute;
        }
    }
}

.hero-nav-overlay {

    .navbar-dark .navbar-toggler {
        background: $white;
        outline: none;

        .fa-bars {
            color: $body-color;
            font-size: 110%;
            line-height: 1.2;
        }
    }

    .navbar {
        padding: 0;
    }

    .nav-logo img {
        width: 390px;
        height: auto;
    }

    .navbar-expand-lg > .container {
        padding: 0;
    }

    .navbar-nav .nav-link {
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    .dropdown-toggle::after {
        margin-left: .45rem;
    }

    @include media-breakpoint-between(md,lg) {
        .navbar-nav .menu-item {

            &:last-of-type {
                margin-right: $spacer;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .navbar-nav .menu-item.show > .nav-link {
            color: $primary;
        }

        .navbar-nav .menu-item {
            padding: 19px $spacer*1.25 18px 0;


            &.active {
                a.nav-link {
                    color: $primary;
                    position: relative;
                    &:after {
                        content: '';
                        left: 0;
                        bottom: -5px;
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background: $primary;
                    }
                }
            }

            &:last-of-type {
                padding: 19px $spacer 18px;
                background-color: $primary;

                &.active {
                    a.nav-link {
                        color: white;
                    }
                }

            }

        }

        .navbar-nav .nav-link {
            padding: 0;
        }

        .dropdown-menu {
            box-shadow: none;
            border-radius: 0;
            border: none;
            right: auto;
            padding: $spacer/2 0;
            left: 0;
            margin: 0;
            background: $white;
            width: 100%;

            & > .menu-item {
                padding: 0 $spacer/2;
                margin-bottom: $spacer/2;
                &:last-of-type {
                    background-color: transparent;
                    padding: 0 $spacer/2;
                    margin-bottom: 0;
                }
            }

            & > .menu-item > .nav-link {
                padding: 0;
                font-family: $font-family-sans-serif;
                color: $gray-700;
                font-size: 0.8rem;


            }
        }
    }

    @include media-breakpoint-down(md) {
        padding: 0;

        .nav-logo img {
            width: 160px;
            height: auto;
        }

        .dropdown-menu {
            display: block;
            background: none;
            border: none;
            margin: 0;
            padding: 0 0 0 1.5rem;
        }
    }
}