// Responsive font sizing
html {
    font-size: 16px;
}

// Sets font size to 16px on form elements to prevent input zoom on mobile devices
@include media-breakpoint-down(sm) {
    .form-control {
        font-size: $font-size-base * 1.075;
    }
}

@include media-breakpoint-up(xxl) {
    html {
        font-size: 20px;
    }
}

// Global

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    -webkit-overflow-scrolling: touch;
    line-height: 1.5;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    line-height: 1.5;
}

.text-white {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
     color: white;
    }
}
a {
    text-decoration: none !important;
}

.h1, h1 {
    font-size: 1.7rem;
    @include media-breakpoint-up(lg) {
        font-size: 2.9rem;
    }
}
.h2, h2 {
    font-size: 1.5rem;
    @include media-breakpoint-up(lg) {
        font-size: 2rem;
    }
}
.h3, h3 {
    font-size: 1.25rem;
    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
    }
}
.h4, h4 {
    font-size: 1rem;
}
.h5, h5 {
    font-size: 1rem;
    font-weight: 400;
}
.h6, h6 {
    font-size: 1rem;
    font-weight: 100;
}

p {
    margin-bottom: $spacer;
}
.lead {
    font-weight: 600;
    font-size: 1.125rem;
}
.semi-bold {
    font-weight: 600;
}

.small, small {
    font-size: 0.8rem;
    td, p {
        font-size: 0.8rem;
    }
}

.spaced-list {
    padding: 0 0 0 22px;
}

.spaced-list li {
    margin-bottom: .5rem;
}


.list-unstyled li {
    padding-bottom: .25rem;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.list-unstyled {
    margin-bottom: 1rem;
}